#fishList {
 display: flex;
 flex-wrap: wrap;
 justify-content: left;
 gap: 20px;
 padding: 20px;
}

#locationList {
 display: flex;
 flex-wrap: wrap;
 justify-content: left;
 gap: 20px;
 padding: 20px;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}
